@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.PropertyEditors.ValueConverters;
@{
	Layout = "mainLayout.cshtml";
    ViewBag.Title = Model?.Name ?? null;
    var sideBarHeadline = Model?.Value<string>("sideBarHeadline") ?? "";
    var tagsHeadline = Model?.Value<string>("tagsHeadline") ?? "";
    var tagLinks = Model?.Value<string>("tagLinks") ?? "";

    var sectionHeadline = Model?.Value<string>("sectionHeadline") ?? "";
	var image = Model?.Value<IPublishedContent>("sectionImage")?.Url() ?? null;
	var backgroundImage = Model?.Value<IPublishedContent>("sectionBackgroundImage")?.Url() ?? null;

		
	var address = Model?.Value<string>("officeLocation") ?? "Klarabergsviadukten 90, 111 52 Stockholm";
	var phone = Model?.Value<string>("officePhoneNumber") ?? "+46 8 123 456 75";
	var email = Model?.Value<string>("officeEmail") ?? "sales@onatrix.com";
		

	var backgroundColorLabel = Model?.Value<ColorPickerValueConverter.PickedColor>("sectionBackgroundColor")?.Label.ToLower() ?? null;
    var backgroundColorClass = (!string.IsNullOrEmpty(backgroundColorLabel) && backgroundColorLabel != "none") ? $"bg-{backgroundColorLabel}" : "";

    var selection = Umbraco.Content(Guid.Parse("734609ab-2b72-43bf-a02b-32a675a2d76a"))!.ChildrenOfType("projectItemTemplate")!.Where(x => x.IsVisible());
}

<section class="project-details">
    <div class="container">
        <div class="project-items">


            <div class="project-content">
                @Model.Value("pageContent")

            </div>

            <div class="sidebar">
                <div class="project-list">
                    <h2>@sideBarHeadline</h2>

                    @if(selection != null){
                        @foreach (var item in selection)
                        {
                            var thumbnailImage = item?.Value<IPublishedContent>("thumbnailImage")?.Url() ?? "";
                            var preamble = item?.Value<string>("preamble") ?? "";

                        <div class="caption-container">
                            <img class="project-img" src="@thumbnailImage" alt="@item.Name" >
                            <div>
                                <h4>@item!.Name</h4>
                                <div class="date">
                                    <i class="fa-solid fa-calendar-days"></i>
                                    <p class="date-text">June 15, 2024</p>
                                </div>
                                <p class="box-info">@preamble</p>
                            <a href="@item!.Url()">Read more <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                        }
                    }
                    
                    
                

                <h2>Tags</h2>
                <div class="tags">
                    <a class="tag-link">Report</a>
                    <a class="tag-link">Busines plans</a>
                    <a class="tag-link">Insights</a>
                    <a class="tag-link">Business</a>
                    <a class="tag-link">App</a>
                    <a class="tag-link">Project</a>
                    <a class="tag-link">Finance</a>
                    <a class="tag-link">Pricing</a>
                    

                </div>
                <div class="help-box bg-primary">
                    <h3>How can we help you?</h3>
                    <p>Online support 24/7, we are here to help you.</p>
                    <div class="help-input">
                        <input type="text" placeholder="E-mail">
                        <i class="fa-regular fa-envelope"></i>
                    </div>
                    
                </div>

            </div>


        </div>

    </div>

</section>

@if(!string.IsNullOrEmpty(backgroundColorClass)){

	
	<section class="contact-box @backgroundColorClass">

		<div class="container">
			<div class="img-grid">
				<img class="img-back" src="@backgroundImage" alt="background-design">
				<img class="img-front" src="@image" alt="picture of a man">
			</div>

			<div class="contact-info-box">
				<h2>Let us know about your next project</h2>
				<div class="contact-text">
					<h5><i class="fa-solid fa-location-dot"></i>Office location</h5>
					<p>@address</p>
				</div>
				<div class="contact-text">
					<h5><i class="fa-solid fa-phone"></i>Phone number</h5>
					<p>@phone</p>
				</div>
				<div class="contact-text">
					<h5><i class="fa-regular fa-envelope"></i>E-mail address</h5>
					<p>@email</p>
				</div>


			</div>

		</div>

	</section>

}
else{
	<section class="contact-box">

		<div class="container">
			<div class="img-grid">
				<img class="img-back" src="@image" alt="background-design">
				<img class="img-front" src="@image" alt="picture of a man">
			</div>

			<div class="contact-info-box">
				<h2>Let us know about your next project</h2>
				<div class="contact-text">
					<h5><i class="fa-solid fa-location-dot"></i>Office location</h5>
					<p>@address</p>
				</div>
				<div class="contact-text">
					<h5><i class="fa-solid fa-phone"></i>Phone number</h5>
					<p>@phone</p>
				</div>
				<div class="contact-text">
					<h5><i class="fa-regular fa-envelope"></i>E-mail address</h5>
					<p>@email</p>
				</div>


			</div>

		</div>

	</section>
}


                    