@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.PropertyEditors.ValueConverters;



@{
    var buttonLinkText = Model?.Content.Value<string>("buttonLinkText");
    var buttonLinkUrl = Model?.Content.Value<string>("buttonLinkUrl");
    var buttonColor = Model?.Content.Value<ColorPickerValueConverter.PickedColor>("buttonColor")?.Label.ToLower() ?? null;
    
    
}

@if(!string.IsNullOrEmpty(buttonColor)){
    <a href="@buttonLinkUrl" title="@buttonLinkText" class="btn btn-@buttonColor" >@buttonLinkText</a>
}
else{
    <a href="@buttonLinkUrl" title="@buttonLinkText" class="btn" >@buttonLinkText</a>
}