@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var uniqueName = Model?.Content.Value<string>("uniqueName");
    var labelText = Model?.Content.Value<string>("labelText");
    var placeholderText = Model?.Content.Value<string>("placeholderText");
    var isRequired = Model.Content.Value<bool>("isRequired");

    var errorMessage  = Model?.Content.Value<string>("errorMessage");
    var regularExpressionPattern  = Model?.Content.Value<string>("regularExpressionPattern");
    var useRegularExpression  = Model.Content.Value<bool>("useRegularExpression");

}

<div id="_@uniqueName" class="form-input-group">
    <label class="form-label" for= "@uniqueName">@labelText</label>
    <input id="@uniqueName" class="form-input" name="@uniqueName" type="password" placeholder="@placeholderText" required="@isRequired">

    @if(isRequired){
        <span class="form-input-error">@errorMessage</span>
    }

</div>