@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var uniqueName = Model?.Content.Value<string>("uniqueName");
    var labelText = Model?.Content.Value<string>("labelText");
    var placeholderText = Model?.Content.Value<string>("placeholderText");
    var isRequired = Model.Content.Value<bool>("isRequired");

    var errorMessage  = Model?.Content.Value<string>("errorMessage");


}

<div id="_@uniqueName" class="form-input">
    <label class="form-label" for= "@uniqueName">@labelText</label>
    <textarea id="@uniqueName" class="form-textarea" name="@uniqueName" type="text" placeholder="@placeholderText" required="@isRequired"></textarea>

    @if(isRequired){
        <span class="form-input-error">@errorMessage</span>
    }

</div>