@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.PropertyEditors.ValueConverters;



@{
    var linkText = Model?.Content.Value<string>("linkText");
    var linkUrl = Model?.Content.Value<string>("linkUrl");
    var isExternal = Model?.Content.Value<bool>("isExternal");
    
    
}

@if(isExternal != true){
    <a href="@linkUrl" title="@linkText">@linkText</a>
}
else{
    <a href="@linkUrl" title="@linkText" target="_blank" >@linkText</a>
}