@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.PropertyEditors.ValueConverters;



@{
	var sectionTitle = Model?.Content.Value<string>("sectionTitle") ?? "";
	var headline = Model?.Content.Value<string>("headline") ?? "";

	var backgroundColorLabel = Model?.Content.Value<ColorPickerValueConverter.PickedColor>("backgroundColor")?.Label.ToLower() ?? null;
    var backgroundColorClass = (!string.IsNullOrEmpty(backgroundColorLabel) && backgroundColorLabel != "none") ? $"bg-{backgroundColorLabel}" : "";

	var selection = Umbraco!.Content(Guid.Parse("90b5953e-2e4a-4513-be5a-c1a9d591ac1b"))!
    .ChildrenOfType("serviceItemTemplate")!
    .Where(x => x.IsVisible()).Take(6);
}



<section class="services bg-gray">
	@if(!string.IsNullOrEmpty(backgroundColorClass)){
		<div class="background @backgroundColorClass"></div>
	}
	<div class="container">
		<h6>@sectionTitle</h6>
		<h2>@headline</h2>

		<div class="grid-products">
			
			@if(selection != null)
			{
				@foreach (var item in selection)
				{
					var image = item?.Value<IPublishedContent>("thumbnailImage")?.Url() ?? "";
					var preamble = item?.Value<string>("preamble") ?? "";

					<div class="box-products">
						<a href="@item!.Url()">
							<h4>@item!.Name</h4>
							<img src="@image" alt="@item.Name">
							<p class="box-info">@preamble</p>
						</a>
					</div>
				}
			}
		</div>
	</div>
</section>