@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.PropertyEditors.ValueConverters;




@{
	var sectionHeadline = Model?.Content.Value<string>("sectionHeadline") ?? "";
	var image = Model?.Content.Value<IPublishedContent>("sectionImage")?.Url() ?? null;
	var backgroundImage = Model?.Content.Value<IPublishedContent>("sectionBackgroundImage")?.Url() ?? null;

		
	var address = Model?.Content.Value<string>("officeLocation") ?? "Klarabergsviadukten 90, 111 52 Stockholm";
	var phone = Model?.Content.Value<string>("officePhoneNumber") ?? "+46 8 123 456 75";
	var email = Model?.Content.Value<string>("officeEmail") ?? "sales@onatrix.com";
		

	var backgroundColorLabel = Model?.Content.Value<ColorPickerValueConverter.PickedColor>("sectionBackgroundColor")?.Label.ToLower() ?? null;
    var backgroundColorClass = (!string.IsNullOrEmpty(backgroundColorLabel) && backgroundColorLabel != "none") ? $"bg-{backgroundColorLabel}" : "";

}


@if(!string.IsNullOrEmpty(backgroundColorClass)){

	
	<section class="contact-box @backgroundColorClass">

		<div class="container">
			<div class="img-grid">
				<img class="img-back" src="@backgroundImage" alt="background-design">
				<img class="img-front" src="@image" alt="picture of a man">
			</div>

			<div class="contact-info-box">
				<h2>Let us know about your next project</h2>
				<div class="contact-text">
					<h5><i class="fa-solid fa-location-dot"></i>Office location</h5>
					<p>@address</p>
				</div>
				<div class="contact-text">
					<h5><i class="fa-solid fa-phone"></i>Phone number</h5>
					<p>@phone</p>
				</div>
				<div class="contact-text">
					<h5><i class="fa-regular fa-envelope"></i>E-mail address</h5>
					<p>@email</p>
				</div>


			</div>

		</div>

	</section>

}
else{
	<section class="contact-box">

		<div class="container">
			<div class="img-grid">
				<img class="img-back" src="@image" alt="background-design">
				<img class="img-front" src="@image" alt="picture of a man">
			</div>

			<div class="contact-info-box">
				<h2>Let us know about your next project</h2>
				<div class="contact-text">
					<h5><i class="fa-solid fa-location-dot"></i>Office location</h5>
					<p>@address</p>
				</div>
				<div class="contact-text">
					<h5><i class="fa-solid fa-phone"></i>Phone number</h5>
					<p>@phone</p>
				</div>
				<div class="contact-text">
					<h5><i class="fa-regular fa-envelope"></i>E-mail address</h5>
					<p>@email</p>
				</div>


			</div>

		</div>

	</section>
}